:root {
  --orange: #ff8a00;
}

body {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  background-color: black;
  color: white;
}

.container {
  min-width: 300px;
  margin: 1rem;
}

.title {
  font-size: 2rem;
  font-weight: bolder;
  color: var(--orange);
  margin: 1rem 0rem;
}

#input {
  height: auto;
  min-height: 2rem;
  width: 89%;
  padding: 0.6rem 1rem;
  border-radius: 0.2rem;
  border: 2px solid var(--orange);
  background: none;
  color: var(--orange);
  font-weight: bolder;
  resize: none;
}

.details-container {
  margin: 2rem 0rem;
}

.detail {
  margin-bottom: 1rem;
}

.detail h4 {
  color: var(--orange);
}

.detail h4,
p {
  margin: 0px;
}

.options-container {
  display: grid;
  grid-template-columns: auto auto;
}

.options {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.checkbox {
  display: none;
}

.checkbox + label span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: 0rem 0.4rem -0.1rem 0rem;
}

.checkbox + label span::before {
  content: "";
  background: transparent;
  border: 2px solid var(--orange);
  position: absolute;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  transition: all 0.1s linear;
  border-radius: 0.25rem;
}

.checkbox:checked + label span::after {
  content: "";
  display: block;
  position: relative;
  top: 3px;
  left: 6px;
  width: 0.25rem;
  height: 0.5rem;
  border: solid black;
  z-index: 10;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.checkbox:checked + label span::before {
  background: var(--orange);
  border: 2px solid var(--orange);
  transform: rotateY(180deg);
  border-radius: 0.25rem;
}
